<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no” />
        <script type="text/javascript" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>board</title>
       <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
       <script src="/javascripts/ft_main.js"></script>
  </head>
  <body ondragstart="return false">
    <div id="wrapper">


      <p id="mention3">강의교환</p>
      <div id="rectangle_2"></div>


      <div id="first_area">
        <div id="div_logo">
          <p id="logo">LOGO</a></P>
        </div>
        <div id="z">
        </div>
        <!--
        <p id="mention1">강의교환</p><div id="small_rectangle"></div>
        <p id="mention2">버림/구함</p><div id="small_rectangle"></div>
      -->
      <div id="change">
        <ul class = "tabs" role= "tablist" id="tabs">
        <li role = "presentation" class = "active"> <a href = "#exchange" role="tab" data-toggle = "tab"> <p id="mention1">강의교환</p><div id="small_rectangle"></div></a></li>
        <li role = "presentation"> <a href = "#board" role="tab" data-toggle = "tab"> <p id="mention2">버림/구함</p><div id="small_rectangle"></div></a></li>
      </ul>
    </div>
        <div id="div_login">
          <% if(!session) { %>
          <p id="first_join"><a href = "/first_test/join1" style="text-decoration:none;" >회원가입</a></p><p id="first_login"><a href = "/first_test/login" style="text-decoration:none;">로그인</a></p>
          <% } else  {%>
          <p id="first_join"><a href = "/first_test/logout" style="text-decoration:none;">로그아웃</a></p>
          <%
            if(mailflag.length == 0){
              %>
              <img id="MailBoxbtn" src="/images/자산 3.png"></img>
              <%
            }else{
              for( var i = 0 ; i < mailflag.length; i ++){
              var Item = mailflag[i];
              if(Item.recv_read == 'Y'){
                if(i == mailflag.length -1){
                  %>
                  <img id="MailBoxbtn" src="/images/자산 3.png"></img>
                  <%
                }
                continue;
              }
              else if(Item.recv_read == 'N'){
                %>
                <img id="MailBoxbtn" src="/images/자산 4.png"></img>
                <%
                break;
              }
            }
          }
          %>
           <p class="mypage_mention"><a href = "/first_test/mypage" style="text-decoration:none;" class="mypage_mention">mypage</a></p>
          <% } %>

              <div class = "modal" id= "MailBoxModal" style="display:none;" >
              <div class = "modal-dialog">
                <div class = "modal-content">
                  <!-- remote ajax call이 되는영역 -->
                </div>
                </div>
                </div>
              </div>
    </div>

    <div id="line_1">
    </div>
    <div id="search_area">
      <%
        if(!dropflag){
      %>
          <form id="form" action="/first_test/search/1" method="get">
              <input type="text" name="searchText">
              <input type="submit" class="btn" value='검색'>
          </form>
      <%
        }else{
          if(!checkdrop){
      %>
            <form id="form" action="/first_test/main/1/beorim/search/" method="get">
                <input type="text" name="searchText">
                <input type="submit" class="btn" value='검색'>
            </form>
      <%
          }else{
      %>
            <form id="form" action="/first_test/main/1/guham/search/" method="get">
                <input type="text" name="searchText">
                <input type="submit" class="btn" value='검색'>
            </form>
      <%
          }
        }
      %>
    </div>
    <div id="main_area">
                <div class = "combobox">

                  <button class="dropdown-toggle" type ="button" data-toggle="dropdown" onclick="clickfunction()">
                    버림/구함
                  </button>

                <!--
                <select id = "selectBox" onchange= "getSelectValue(this);">
                  <option value = "guham">구하는 과목</option>
                  <option value = "beorim">버리는 과목</option>
                </select>
              -->
                <!--
                <div id="combobox_content" class ="combobox-content">
                  <a href = "/first_test/main/1/guham">구함</a>
                  <a href = "/first_test/main/1/beorim">버림</a>
                </div>
              -->
                  <div id="combobox_content" class = "combobox-content">
                    <a href = "/first_test/main/1/guham">구함</a>
                    <a href = "/first_test/main/1/beorim">버림</a>
                  </div>

                </div>

                <script>
                function clickfunction() {
                    var combobox_content = document.getElementById("combobox_content");
                    if (combobox_content.className.indexOf("show") == -1) {
                        combobox_content.className += " show";
                    } else {
                        combobox_content.className = combobox_content.className.replace(" show", "");
                    }
                }
                /*
                function getSelectValue(frm){
                  var combovalue = document.getElementById("selectbox");
                }
                */

                </script>

    <div id="main_area_second">
    <div class = "tab-content">
        <div id="board" class="tab-pane">

          <table class="type07">
              <thead>
                <tr>
                  <td>게시글번호</td>
                  <td>작성자</td>
                  <td>버림/구함</td>
                  <td>글제목</td>
                  <td>작성일자</td>
               </tr>
              </thead>
                <tbody>
                    <%
                      for(var i = leng-((page*page_num)-page_num); i>leng-(page*page_num); i--){
                        if(i < 0){
                          break;
                        }else{
                          var item = result[i];
                    %>

                       <tr>
                         <td>
                           <%= i+1 %>
                         </td>
                         <td>
                           <%=item.writer_name%>
                         </td>
                          <td>
                            <%=item.choice%>
                          </td>
                          <td>
                            <a href = "#board_content_view_modal<%=item.id%>" id = "board_content_view_title<%=item.id%>" data-toggle = "modal" ><%=item.title%></a>
                          </td>
                          <div class = "modal" id= "board_content_view_modal<%=item.id%>" style="display:none;" >
                          <div class = "modal-dialog">
                            <div class = "modal-content">
                              <!-- remote ajax call이 되는영역 -->
                            </div>
                            </div>
                            </div>
                          <td>
                            <%=item.date%>
                          </td>

                        </tr>
                        <script>
                        $('#board_content_view_title<%=item.id%>').click('show.bs.modal',function(event){
                            $('#board_content_view_modal<%=item.id%>').modal({
                              remote : '/first_test/title_content/<%=item.id%>'
                            });
                          });
                        $('#board_content_view_modal<%=item.id%>').on('loaded.bs.modal',function(event){
                          $('#board_content_view_modal<%=item.id%>').modal('show');
                        });
                        $('#board_content_view_modal<%=item.id%>').on('hidden.bs.modal', function () {
                            $(this).removeData('bs.modal');
                        });

                        </script>
                   <%
                        }
                      }
                   %>
                    <tr>
                      <td colspan = "5">
                        <%
                          for(var j = 0 ; j < result.length/10 ; j++){
                          if(!flag){
                            if(!dropflag){
                        %>
                          [ <a href="/first_test/main/<%= j+1 %>"><%=j+1%> </a>]
                        <%
                          }else{
                            if(!checkdrop){
                        %>
                            [ <a href="/first_test/main/<%= j+1 %>/beorim"><%=j+1%> </a>]
                        <%
                            }else{
                        %>
                              [ <a href="/first_test/main/<%= j+1 %>/guham"><%=j+1%> </a>]
                        <%
                            }
                          }
                      }else{
                        if(!dropflag){
                        %>
                          [ <a href="/first_test/search/<%= j+1 %>/?searchText=<%=qq%>"><%=j+1%> </a>]
                        <%
                        }else{
                          if(!checkdrop){
                        %>
                          [ <a href="/first_test/search/<%= j+1 %>/?searchText=<%=qq%>/beorim"><%=j+1%> </a>]
                        <%
                          }else{
                        %>
                          [ <a href="/first_test/search/<%= j+1 %>/?searchText=<%=qq%>/guham"><%=j+1%> </a>]
                        <%
                          }
                        }
                      }
                    }
                        %>
                      </td>
                    </tr>

               </tbody>
            </table>

            <input type='button' name='write' value='글쓰기' id='writeButton'>

            <div id="myModal" class="modal">
              <div class= "modal-dialog">
              <div class="modal-content">
                <div class = "modal-header">
                  <button type = "button" class = "close" data-dismiss="modal" aria-label = "Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class = "modal-title" id = "write_matching_title" style="font-family: NanumBarunGothic;"> 버림/구함 글쓰기 </h4>
                </div>
                <div class = "modal-body">
                <form>
                  <div class = "form-group">
                <input type="radio" name="choice" value="버림">버림
                <input type="radio" name="choice" value="구함">구함
              </div>
              <div class = "form-group">
                 <label for="title" class="control-label"> 글제목: </label>
                <input type='text' class = "form-control" id='title'>
              </div>
              <div class ="form-group">
                 <label for="content" class="control-label"> 내용:  &nbsp;&nbsp;</label>
                  <textarea rows='5' cols='20' name='comments' class = "form-control" id='content'></textarea>
              </div>
              </form>
              <div class = "modal-footer">
                <input type='button' id='ok' class = "btn btn-primary" value='등록'>
                <input type='button' id='out' class = "btn btn-default" data-dismiss = "modal" value='취소'>
              </div>
              </div>
              </div>
            </div>
            </div>

                        <script>
                          var myModal = document.getElementById("myModal");
                          var writeButton = document.getElementById("writeButton");
                          var Closebtn = document.getElementById("Closebtn");
                          var span = document.getElementsByClassName("close")[0];
                          writeButton.onclick = function(){
                            if(!'<%=session%>'){
                              alert('로그인이 필요합니다.');
                              $(window).attr('location','/first_test/login');
                            }else{
                            myModal.style.display = "block";
                          }
                          }
                          span.onclick = function(){
                            myModal.style.display = "none";
                          }

                          window.onclick = function(event){
                            if(event.target == myModal){
                              myModal.style.display = "none";
                            }
                          }
                          /*
                          Closebtn.onclick = function(event){
                              myModal.style.display = "none";
                          }
                        */
                        </script>

        </div>

        <div id="exchange" class="tab-pane active">

          <table class="type08">
            <thead>
              <tr>
                <td class="ex_num">번호</td>
                <td class="ex_writer">작성자</td>
                <td class= "ex_subject">구하는 과목명</td>
                <td class= "ex_professor">교수</td>
                <td class = "ex_time">시간</td>
                <td class = "ex_subject">버리는 과목명</td>
                <td class = "ex_proffessor">교수</td>
                <td class = "ex_time">시간</td>
                <td id = "exchange_req_td">교환신청</td>
              </tr>
            </thead>
            <tbody>
              <%
                  for(var i = leng2-((page*page_num)-page_num); i>leng2-(page*page_num); i--){
                    if(i < 0){
                      break;
                    }else{
                      var oneItem = result2[i];
                      if(oneItem.request == 'Y') {continue;}
                %>

                <tr>
                  <td><%= i+1 %></td>
                  <td><%= oneItem.writer %></td>
                  <td><%= oneItem.class_name%></td>
                  <td><%= oneItem.prof_name%></td>
                  <td id = "divider"><%= oneItem.time%></td>
                  <td><%= oneItem.change_class_name%></td>
                  <td><%= oneItem.change_prof_name%></td>
                  <td><%= oneItem.change_time%></td>
                  <td><input type="button" value="교환신청" class="select_matching" id="exchange_req_btn<%=oneItem.id%>" data-toggle= "modal" data-target = "exchange_req_modal<%=oneItem.id%>"></td>
                </tr>
                <% }
                  }
                  %>
                  <tr>
                    <td colspan ="11">
                      <%
                        for(var j = 0 ; j < result2.length/10 ; j++){
                      %>
                      <%
                        if(!flag){
                      %>
                          [ <a href="/first_test/main/<%= j+1 %>"><%=j+1%> </a>]
                      <%
                        }else{
                      %>
                          [ <a href="/first_test/search/<%= j+1 %>/?searchText=<%=qq%>"><%=j+1%> </a>]
                      <%
                        }
                      }
                      %>
                    </td>
                  </tr>
              </tbody>
            </table>

            <%
                  for(var i = 0; i < result2.length; i++){
                    var oneItem = result2[i];
            %>
            <div class = "modal" id= "exchange_req_modal<%=oneItem.id%>" data-backdrop="" >
            <div class = "modal-dialog">
            <div class = "modal-content">
                <!-- remote ajax call이 되는영역 -->
            </div>
            </div>
            </div>


            <script>

            $('#exchange_req_btn<%=oneItem.id%>').click('show.bs.modal',function(event){
              if(!'<%=session%>'){
                alert('로그인이 필요합니다.');
                $(window).attr('location','/first_test/login');
              }else{
                $('#exchange_req_modal<%=oneItem.id%>').modal({
                  remote : '/first_test/exchangerequest/<%=oneItem.id%>'
                });
              }
              });

              $('#exchange_req_modal<%=oneItem.id%>').on('loaded.bs.modal',function(event){
                $('#exchange_req_modal<%=oneItem.id%>').modal('show');
              });
              $('#exchange_req_modal<%=oneItem.id%>').on('hidden.bs.modal', function () {
                  $(this).removeData('bs.modal');
              });

            </script>

            <%
                }
            %>

              <button type = "button" id="write_matching_modalbtn" class = "write_matching_modalbtn_cls" data-toggle"modal">
                강의교환글쓰기
              </button>
              <div class = "modal" id= "write_matching_modal" tabindex="-1" role="dialog" aria-labelledby="WriteMatchingModalLabel" aria-hidden="true">
                <div class = "modal-dialog">
                  <div class = "modal-content">
                    <div class = "modal-header">
                      <button type = "button" class = "close" data-dismiss="modal" aria-label = "Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class = "modal-title" id = "write_matching_title"> 강의교환글쓰기 </h4>
                    </div>
                    <div class= "modal-body">
                      <form>
                        <div class = "form-group">
                          <label for="class-name" class="control-label"> 구하는과목 : </label>
                          <input type = "text" class = "form-control" id = "class_name">
                        </div>
                        <div class = "form-group">
                          <label for="prof-name" class="control-label"> 교수 : &emsp;&emsp;&nbsp;&nbsp;</label>
                          <input type = "text" class = "form-control" id = "prof_name">
                        </div>
                        <div class = "form-group">
                          <label for="time" class="control-label"> 시간 : &emsp;&emsp;&nbsp;&nbsp;</label>
                          <input type = "text" class = "form-control" id = "time">
                        </div>
                        <div class = "form-group">
                          <label for="change-class-name" class="control-label"> 바꿀 과목 : &nbsp;</label>
                          <input type = "text" class = "form-control" id = "change_class_name">
                        </div>
                        <div class = "form-group">
                          <label for="change-prof-name" class="control-label"> 교수 : &emsp;&emsp;&nbsp;&nbsp;</label>
                          <input type = "text" class = "form-control" id = "change_prof_name">
                        </div>
                        <div class = "form-group">
                          <label for="change-time" class="control-label"> 시간 : &emsp;&emsp;&nbsp;&nbsp;</label>
                          <input type = "text" class = "form-control" id = "change_time">
                        </div>
                      </form>
                    </div>
                    <div class = "modal-footer">
                      <button type = "button" class = "btn btn-default" data-dismiss = "modal" id="Closebtn"> Close </button>
                      <button type = "button" class = "btn btn-primary" id = "OKbtn"> 올리기 </button>
                  </div>
                </div>
              </div>
            </div>

            <script>
              var write_matching_modal = document.getElementById("write_matching_modal");
              var write_matching_modalbtn = document.getElementById("write_matching_modalbtn");
              var Closebtn = document.getElementById("Closebtn");
              var span = document.getElementsByClassName("close")[0];
              write_matching_modalbtn.onclick = function(){
                if(!'<%=session%>'){
                  alert('로그인이 필요합니다.');
                  $(window).attr('location','/first_test/login');
                }else{
                write_matching_modal.style.display = "block";
              }
              }
              span.onclick = function(){
                write_matching_modal.style.display = "none";
              }

              window.onclick = function(event){
                if(event.target == write_matching_modal){
                  write_matching_modal.style.display = "none";
                }
              }
              Closebtn.onclick = function(event){
                  write_matching_modal.style.display = "none";
              }
            </script>
        </div>
    </div>
  </div>
  </div>

</div> <!-- wrapper -->

      <script>
      $('.tabs > li > a').click(function(event){
        //get displaying tab content jQuery selector
        event.preventDefault();//stop browser to take action for clicked anchor

        //get displaying tab content jQuery selector
        var active_tab_selector = $('.tabs > li.active > a').attr('href');

        //find actived navigation and remove 'active' css
        var actived_nav = $('.tabs > li.active');
        actived_nav.removeClass('active');

        //add 'active' css into clicked navigation
        $(this).parents('li').addClass('active');

        //hide displaying tab content
        $(active_tab_selector).removeClass('active');
        //$(active_tab_selector).addClass('hide');

        //show target tab content
        var target_tab_selector = $(this).attr('href');
        //$(target_tab_selector).removeClass('hide');
        $(target_tab_selector).addClass('active');
      });


      </script>
  </body>
</html>
