<div class = "modal-header">
</div>
  <div class= "modal-showpost-body">
    <table class ="type08">
      <thead>
        <tr>
          <td>작성자</td>
          <td>구하는 과목명</td>
          <td>교수</td>
          <td>시간</td>
          <td>버리는 과목명</td>
          <td>교수</td>
          <td>시간</td>
        </tr>
      </thead>
      <tbody>
        <%
          var oneItem = results[0];
        %>

          <tr>
            <td><%= oneItem.writer %></td>
            <td><%= oneItem.class_name%></td>
            <td><%= oneItem.prof_name%></td>
            <td><%= oneItem.time%></td>
            <td><%= oneItem.change_class_name%></td>
            <td><%= oneItem.change_prof_name%></td>
            <td><%= oneItem.change_time%></td>
          </tr>
        </tbody>
      </table>

</div>
<div class = "modal-showpost-footer">
  <button type = "button" class = "btn btn-default" data-dismiss = "modal" id="RecvBoxClosebtn22"> 닫기 </button>
</div>
