  <div class = "modal-boardview-header">
    <div id ="tc_1" style="padding:3px;margin:2px;"> <span class="frontMention">범주</span>  <%=rows[0].choice%></div><br>
    <div id = "tc_2" style="padding:3px;margin:2px;"> <span class="frontMention">작성자</span>  <%=rows[0].writer_name%></div><br>
    <div id = "tc_3" style="padding:3px;margin:2px;"> <span class="frontMention">날짜</span>  <%=rows[0].date%></div><br>
    <div id = "tc_4" style="padding:3px;margin:2px;"> <span class="frontMention">글제목</span>  <%=rows[0].title%></div>
    </div>
<div class="divider"></div>
    <div class= "modal-boardview-body">
      <textarea row= "5" cols= "50" readonly class="tc_ta">
        <%=rows[0].text%>
      </textarea>
      <div class="divider"></div>
    </div>
    <div class = "modal-boardview-footer">
      <button type = "button" class = "btn btn-default" data-dismiss = "modal" id="Closebtn2"> 닫기 </button>
      <button type = "button"  href = "/first_test/boardsendmail/<%=rows[0].id%>" id="sendmailbtn" data-toggle="modal" data-target="#board_send_mail_modal<%=rows[0].id%>" class= "btn btn-primary" style="width:100px;"> 쪽지보내기 </button>
    </div>

    <div class = "modal" id= "board_send_mail_modal<%=rows[0].id%>" tabindex="-1" data-focus-on="input:first">
      <div class = "modal-dialog">
        <div class = "modal-content">

        </div>
      </div>
    </div>


    <script>
    $('#sendmailbtn').click('show.bs.modal',function(event){
      $('#board_send_mail_modal<%=rows[0].id%>').modal({
        remote : '/first_test/boardsendmail/<%=rows[0].id%>'
      });
    });
    $('#board_send_mail_modal<%=rows[0].id%>').on('loaded.bs.modal',function(event){
    $('#board_send_mail_modal<%=rows[0].id%>').modal('show');
    });
    $('#board_send_mail_modal<%=rows[0].id%>').on('hidden.bs.modal', function () {
      $(this).removeData('bs.modal');
    });

    </script>
